:root {
	--text-color-light: #333;
	--text-color-dark: #E0E0E0;
	--background-color-light: #FFF;
	--background-color-dark: #121212;
}

html {
	height: 100%; /* Assure que html prend toute la hauteur de la fenêtre du navigateur */
	background: black;
	background-image: url('images/base_animationv3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre du navigateur */
	margin: 0; /* Enlève la marge par défaut */
	display: flex; /* Active Flexbox */
	justify-content: center; /* Centre horizontalement */
	align-items: center; /* Centre verticalement */
	flex-direction: column; /* Organise les enfants en colonne */
	font-family: Arial, sans-serif; /* Police de caractère pour tout le document */
	line-height: 1.6;
	/*background-color: var(--background-color-light);*/
	color: var(--text-color-light);
	background: transparent; /* Assure que body n'a pas de fond propre, évitant les superpositions indésirables */
}

.classe-image {
	margin-bottom: 5%; /* Ajoute une marge de 20 pixels en haut */
	max-height: 15%; /* Assure que l'image reste responsive */
	height: auto; /* Garde le ratio original de l'image */
	width: auto;
}

.profile-image {
	width: 100px; /* Définis la largeur de l'image */
	height: 100px; /* Définis la hauteur de l'image */
	border-radius: 50%; /* Rend l'image complètement ronde */
	object-fit: cover; /* S'assure que l'image couvre la zone sans perdre ses proportions */
	border: 3px solid white; /* Optionnel : Ajoute une bordure blanche autour de l'image */
	box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optionnel : Ajoute une légère ombre pour un effet de profondeur */
	background: white;
	filter: none;
}

.center-container {
	display: flex;
	flex-direction: column; /* Organise les enfants verticalement */
	justify-content: center; /* Centre les enfants verticalement dans le conteneur */
	align-items: center; /* Centre les enfants horizontalement dans le conteneur */
	width: 100%; /* Prend la largeur totale du parent */
	margin-top:3%;
	background-color: transparent;
}

button {
	background-color: #4b97e3;
	color: white;
	min-width: 400px;
	max-width: 800px;
	border: 3px solid #ffffff;
	border-radius: 25px; /* Rend les bords arrondis */
	padding: 5px 20px;
	margin: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size:35px;
	white-space: nowrap;
}

button:focus {
	outline: none;  /* Supprime l'outline par défaut */
	box-shadow: 0 0 0 3px #ffbf47; /* Ajoute un halo pour le focus, choisis une couleur qui contraste bien */
}

button:hover {
	background-color: #3e61df;
	border-color: #a759b6;
}

@media (max-width: 600px) {
	body {
		font-size: 14px; /* Réduit la taille de la police pour les petits écrans */
	}
	.center-container {
		margin-top: 20px; /* Réduit la marge en haut pour les petits écrans */
	}
	button {
		background-color: #4b97e3; /* Couleur spécifique pour petits écrans */
		border: 3px solid #ffffff;
		border-radius: 25px;
		min-width: 80px;
		padding: 3px 10px;
		font-size: 14px;
	}

}

@media (prefers-color-scheme: dark) {
	body {
		/*background-color: var(--background-color-dark);*/
		color: var(--text-color-dark);
	}
}
