:root {
	--text-color-light: #333;
	--text-color-dark: #E0E0E0;
	--background-color-light: #FFF;
	--background-color-dark: #121212;
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0px) rotateZ(0deg);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-5px) rotateZ(-3deg);
	}
	20%, 40%, 60%, 80% {
		transform: translateX(5px) rotateZ(3deg);
	}
}

html {
	height: 100%; /* Assure que html prend toute la hauteur de la fenêtre du navigateur */
	/*background: black;
	background-image: url('images/base_animationv3.png');*
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
}

body {
	height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre du navigateur */
	margin: 0; /* Enlève la marge par défaut */
	display: flex; /* Active Flexbox */
	justify-content: center; /* Centre horizontalement */
	align-items: center; /* Centre verticalement */
	flex-direction: column; /* Organise les enfants en colonne */
	font-family: Arial, sans-serif; /* Police de caractère pour tout le document */
	font-size: 16px;
	color: var(--text-color-light);
	/*background: var(--background-color-light); /* Assure que body n'a pas de fond propre, évitant les superpositions indésirables **/
	background: linear-gradient(to bottom, #afb9d7, #7e85ae);
	/*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Icon_moon-wukong.png');
	background-size: cover;*/
}

h1 {
	font-size: 2rem; /* Taille de police plus grande pour les titres principaux */
	line-height: 1.2; /* Hauteur de ligne plus serrée pour les titres */
	margin: 20px 0; /* Ajoute une marge au-dessus et en dessous du titre */
}

p {
	font-size: 1em; /* Taille de police standard pour les paragraphes */
	line-height: 1; /* Hauteur de ligne pour améliorer la lisibilité */
}

.classe-image {
	margin-bottom: 5%; /* Ajoute une marge de 20 pixels en haut */
	max-height: 15%; /* Assure que l'image reste responsive */
	height: auto; /* Garde le ratio original de l'image */
	width: auto;
}

.profile-image {
	width: 100px; /* Définis la largeur de l'image */
	height: 100px; /* Définis la hauteur de l'image */
	border-radius: 50%; /* Rend l'image complètement ronde */
	object-fit: cover; /* S'assure que l'image couvre la zone sans perdre ses proportions */
	border: 3px solid white; /* Optionnel : Ajoute une bordure blanche autour de l'image */
	box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optionnel : Ajoute une légère ombre pour un effet de profondeur */
	background: white;
	filter: none;
}

.center-container {
	display: flex;
	flex-direction: column; /* Organise les enfants verticalement */
	justify-content: center; /* Centre les enfants verticalement dans le conteneur */
	align-items: center; /* Centre les enfants horizontalement dans le conteneur */
	/*width: 80%; /* Prend la largeur totale du parent */
	margin-top:3%;
	background-color: transparent;
}

button {
	background-color: #4b97e3;
	color: white;
	min-width: 400px;
	max-width: 800px;
	border: 3px solid #ffffff;
	border-radius: 25px; /* Rend les bords arrondis */
	padding: 5px 20px;
	margin: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 35px;
	white-space: nowrap;
	/*display: inline-block; // Permet la transformation
	/* box-shadow: 2px 5px 10px rgba(0,0,0,0.2); */

}

button:focus {
	outline: none;  /* Supprime l'outline par défaut */
	box-shadow: 0 0 0 3px #ffbf47; /* Ajoute un halo pour le focus, choisis une couleur qui contraste bien */
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

button:hover {
	background-color: #8e44ad;
	border-color: #a759b6;
	color: white;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



@media (max-width: 600px) {
	/*body {
		font-size: 22px;
	}*/
	h1 {
		font-size: 130%;
	}
	p {
		font-size: 1em; /* Taille de police standard pour les paragraphes */
		line-height: 1; /* Hauteur de ligne pour améliorer la lisibilité */
		text-align: center; /* Assure que le texte est centré, même lorsqu'il passe à la ligne */
	}
	.profile-image {
		width: 75px; /* Définis la largeur de l'image */
		height: 75px;
	}
	.center-container {
		margin-top: 2%; /* Réduit la marge en haut pour les petits écrans */
	}
	button {
		min-width: 80%;
		font-size: 115%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
}
